@import "./core.css";
/* @import "./prism.monokai.css"; */
@import "./highlightjs.monokai.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	@apply transition-colors;
}

.default-container {
	@apply max-w-7xl mx-auto;
}

.stretched-link::after {
	content: "";
	@apply z-10 absolute inset-0 bg-transparent pointer-events-auto;
}

.editor-tab {
	@apply border-x text-gray-500 hover:bg-gray-100 dark:hover:bg-slate-700 border-t border-b border border-gray-300 px-3 py-1 font-victor-mono text-sm;
}

.prose code *:not(.far, .fal, .fas) {
	@apply font-victor-mono;
}

pre code[class*="language-"] {
	@apply font-victor-mono;
}

p.caption {
	@apply text-center text-sm text-gray-500 dark:text-slate-400;
}

pre[class*="language-"] {
	@apply relative;
}

pre[class*="language-"]:hover .copy-content {
	@apply opacity-80;
}

code > .copy-content {
	@apply absolute right-2 top-2 cursor-pointer rounded-md bg-gray-200 p-1 text-gray-800 opacity-80 lg:opacity-0 transition-all;
}

#lesson-content pre:hover code > .copy-content {
	@apply opacity-80;
}

.prose p > code,
.prose h1 > code,
.prose h2 > code,
.prose h3 > code,
.prose h4 > code,
.prose h5 > code,
.prose li > code,
.prose em > code,
.prose strong > code,
.prose table code,
.alert-info code,
.alert-warning code,
.alert-danger code {
	background-color: var(--tw-prose-pre-bg);
	@apply inline-block rounded-none border font-normal not-italic text-white px-2;
}

/* Tilda before and after inline code block */
.prose :where(code):not(:where([class~="not-prose"] *))::before {
	content: "";
	color: transparent;
}
.prose :where(code):not(:where([class~="not-prose"] *))::after {
	content: "";
	color: transparent;
}

#lesson-content {
	@apply prose prose-slate max-w-none dark:prose-invert prose-pre:bg-transparent prose-pre:p-0;
	@apply prose-img:mx-auto prose-hr:my-4 lg:mx-auto prose-headings:text-primary-800 prose-headings:font-bold;
	@apply [&_pre:has(code)]:bg-slate-900 [&_pre:has(code)]:p-1 [&_pre:has(code)]:px-3 [&_pre:has(code)]:relative [&_pre:has(code)]:font-victor-mono;
}

.mermaid:not([data-processed="true"]) {
	@apply hidden;
}

.mermaid {
	@apply flex justify-center bg-zinc-800 border border-zinc-900 mb-4;
}

pre:has(code[class*="language-"]) {
	@apply relative;
}

code {
	@apply font-victor-mono;
}

.alert-warning {
	@apply mb-4 border-l-4 border-yellow-400 bg-yellow-50 p-4 dark:bg-slate-900 dark:text-slate-400;
}

.alert-info {
	@apply mb-4 border-l-4 border-blue-400 bg-blue-50 p-4 dark:bg-slate-900 dark:text-slate-400;
}

.alert-danger {
	@apply mb-4 border-l-4 border-red-400 bg-red-50 p-4 dark:bg-slate-900 dark:text-slate-400;
}

.alert-info .highlight,
.alert-danger .highlight,
.alert-warning .highlight {
	@apply border border-white mb-2;
}

.alert-info .highlight code,
.alert-warning .highlight code,
.alert-danger .highlight code {
	@apply block rounded-none border-none font-normal not-italic text-white bg-transparent;
}

.list-image-checked {
	@apply list-image-[url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxNCAxMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBmaWxsPSIjMzhiZGY4Ij48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMy42ODUuMTUzYS43NTIuNzUyIDAgMCAxIC4xNDMgMS4wNTJsLTggMTAuNWEuNzUuNzUgMCAwIDEtMS4xMjcuMDc1bC00LjUtNC41YS43NS43NSAwIDAgMSAxLjA2LTEuMDZsMy44OTQgMy44OTMgNy40OC05LjgxN2EuNzUuNzUgMCAwIDEgMS4wNS0uMTQzWiIgLz48L3N2Zz4=')];
}

.list-image-crossed {
	@apply list-image-[url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAxNCAxMiIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZT0iI2RjMjYyNiIgd2lkdGg9IjE0IiBoZWlnaHQ9IjEyIj4KICA8cGF0aCBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGQ9Ik0wIDEyTDE0IDBNMCAwbDE0IDEyIiAvPgo8L3N2Zz4=')];
}

@layer base {
	h1 {
		@apply text-3xl font-semibold;
	}

	h2 {
		@apply text-2xl font-semibold;
	}

	h3 {
		@apply text-xl font-semibold;
	}

	h4 {
		@apply text-lg font-semibold;
	}
}

@layer components {
	.btn-primary-sm {
		@apply bg-primary-800 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-primary-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-800 transition;
	}
	.btn-primary {
		@apply bg-primary-800 px-4 py-3 font-semibold text-white shadow-sm hover:bg-primary-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-800 transition;
	}
	.btn-primary-lg {
		@apply bg-primary-800 px-6 py-4 text-lg font-semibold text-white shadow-sm hover:bg-primary-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-800 transition;
	}
	.btn-primary-xl {
		@apply bg-primary-800 px-8 py-5 text-xl font-semibold text-white shadow-sm hover:bg-primary-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-800 transition;
	}
	.btn-sm {
		@apply px-3.5 py-2.5 text-sm font-semibold shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-800 transition;
	}
	.btn {
		@apply px-4 py-3 font-semibold shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-800 transition;
	}
	.btn-lg {
		@apply px-6 py-4 text-lg font-semibold shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-800 transition;
	}
	.btn-xl {
		@apply px-8 py-5 text-xl font-semibold shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-800 transition;
	}
}

/* Footer */
/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
	#cs-footer-272 {
		padding: var(--sectionPadding);
		/* Navigation Links */
		/* Contact Links */
	}
	#cs-footer-272 .cs-container {
		width: 100%;
		/* reset on tablet */
		max-width: 34.375rem;
		margin: auto;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-wrap: wrap;
		column-gap: 5.5rem;
		row-gap: 2rem;
	}
	#cs-footer-272 .cs-logo-group {
		/* takes up all the space, lets the other ul's wrap below it */
		width: 100%;
		position: relative;
	}
	#cs-footer-272 .cs-logo {
		/* 210px - 240px */
		width: clamp(13.125rem, 8vw, 15rem);
		height: auto;
		display: block;
		/* 28px - 44px */
		margin-bottom: clamp(1.75rem, 4.17vw, 2.75rem);
	}
	#cs-footer-272 .cs-logo-img {
		width: 100%;
		height: auto;
	}
	#cs-footer-272 .cs-logo-img.dark {
		display: none;
	}
	#cs-footer-272 .cs-text {
		/* 14px - 16px */
		font-size: clamp(0.875rem, 2.5vw, 1rem);
		line-height: 1.5em;
		margin: 0;
		margin-bottom: 2rem;
		width: 78%;
		/* changes to 305px at desktop */
		max-width: 33.75rem;
		color: var(--bodyTextColor);
	}
	#cs-footer-272 .cs-social {
		display: inline-flex;
		flex-direction: column;
		justify-content: flex-start;
		gap: 0.75rem;
		position: absolute;
		top: 0;
		right: 0;
	}
	#cs-footer-272 .cs-social-link {
		width: 1.5rem;
		height: 1.5rem;
		background-color: #4e4b66;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		z-index: 1;
		transition: transform 0.3s, background-color 0.3s;
	}
	#cs-footer-272 .cs-social-link:hover {
		background-color: #1a1a1a;
		transform: translateY(-0.1875rem);
	}
	#cs-footer-272 .cs-social-img {
		height: 0.8125rem;
		width: auto;
		display: block;
	}
	#cs-footer-272 .cs-nav {
		padding: 0;
		margin: 0;
	}
	#cs-footer-272 .cs-nav-li {
		list-style: none;
		margin-bottom: 1rem;
	}
	#cs-footer-272 .cs-nav-li:last-of-type {
		margin-bottom: 0;
	}
	#cs-footer-272 .cs-header {
		font-size: 1rem;
		line-height: 1.5em;
		font-weight: 700;
		color: var(--bodyTextColor);
		position: relative;
	}
	#cs-footer-272 .cs-header:after {
		content: "";
		width: 2rem;
		height: 0.25rem;
		margin: 1rem auto 1.5rem 0;
		background: var(--primary);
		opacity: 1;
		position: relative;
		display: block;
	}
	#cs-footer-272 .cs-nav-link {
		font-size: 1rem;
		text-decoration: none;
		line-height: 1.5em;
		color: var(--bodyTextColor);
		position: relative;
	}
	#cs-footer-272 .cs-nav-link:before {
		/* underline */
		content: "";
		width: 0%;
		height: 0.125rem;
		background: var(--bodyTextColor);
		opacity: 1;
		position: absolute;
		display: block;
		bottom: -0.125rem;
		left: 0;
		transition: width 0.3s;
	}
	#cs-footer-272 .cs-nav-link:hover:before {
		width: 100%;
	}
	#cs-footer-272 .cs-contact {
		margin: 0;
		padding: 0;
		width: 35%;
	}
	#cs-footer-272 .cs-contact-li {
		list-style: none;
		margin-bottom: 0rem;
	}
	#cs-footer-272 .cs-contact-li:last-of-type {
		margin-bottom: 0;
	}
	#cs-footer-272 .cs-contact-link {
		font-size: 1rem;
		text-decoration: none;
		line-height: 1.5em;
		text-align: left;
		color: var(--bodyTextColor);
		display: inline-block;
	}
	#cs-footer-272 .cs-contact-link:hover {
		text-decoration: underline;
	}
	#cs-footer-272 .cs-address {
		font-size: 1rem;
		margin-bottom: 1.25rem;
	}
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
	#cs-footer-272 .cs-container {
		max-width: 80rem;
		row-gap: 0;
	}
	#cs-footer-272 .cs-contact {
		flex-direction: row;
		justify-content: space-between;
		border-top: none;
	}
	#cs-footer-272 .cs-contact-li {
		margin: 0;
	}
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
	#cs-footer-272 .cs-container {
		/* pushes all flex children to the top */
		align-items: flex-start;
		justify-content: flex-end;
	}
	#cs-footer-272 .cs-logo-group {
		/* pushes everything to the right of it as far as possible in a flexbox */
		margin-right: auto;
		width: auto;
		max-width: 19.0625rem;
	}
	#cs-footer-272 .cs-text {
		width: 100%;
	}
	#cs-footer-272 .cs-social {
		flex-direction: row;
		position: relative;
		top: auto;
		right: auto;
	}
	#cs-footer-272 .cs-contact {
		width: auto;
	}
}
