@import "./core.css";
/* @import "./prism.monokai.css"; */
/* @import "./highlightjs.monokai.css"; */
@import "./highlightjs.monokai-sublime.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	@apply transition-colors;
}

.default-container {
	@apply max-w-7xl mx-auto;
}

.stretched-link::after {
	content: "";
	@apply z-10 absolute inset-0 bg-transparent pointer-events-auto;
}

.editor-tab {
	@apply border-x text-gray-500 hover:bg-gray-100 dark:hover:bg-slate-700 border-t border-b border border-gray-300 px-3 py-1 font-victor-mono text-sm;
}

.prose code *:not(.far, .fal, .fas) {
	@apply font-victor-mono;
}

pre code[class*="language-"] {
	@apply font-victor-mono;
}

p.caption {
	@apply text-center text-sm text-gray-500 dark:text-slate-400;
}

pre[class*="language-"] {
	@apply relative;
}

pre[class*="language-"]:hover .copy-content {
	@apply opacity-80;
}

code > .copy-content {
	@apply absolute right-2 top-2 cursor-pointer rounded-md bg-gray-200 p-1 text-gray-800 opacity-80 lg:opacity-0 transition-all;
}

#lesson-content pre:hover code > .copy-content {
	@apply opacity-80;
}

.prose p > code,
.prose h1 > code,
.prose h2 > code,
.prose h3 > code,
.prose h4 > code,
.prose h5 > code,
.prose li > code,
.prose em > code,
.prose strong > code,
.prose table code,
.alert-info code,
.alert-warning code,
.alert-danger code {
	background-color: var(--tw-prose-pre-bg);
	@apply inline-block rounded-none border font-normal not-italic text-white px-2;
}

/* Tilda before and after inline code block */
.prose :where(code):not(:where([class~="not-prose"] *))::before {
	content: "";
	color: transparent;
}
.prose :where(code):not(:where([class~="not-prose"] *))::after {
	content: "";
	color: transparent;
}

#lesson-content {
	@apply prose prose-slate max-w-none dark:prose-invert prose-pre:bg-transparent prose-pre:p-0;
	@apply prose-img:mx-auto prose-hr:my-4 lg:mx-auto prose-headings:text-primary-800 prose-headings:font-bold;
	@apply [&_pre:has(code)]:bg-[#23241f] [&_pre:has(code)]:p-1 [&_pre:has(code)]:px-3 [&_pre:has(code)]:relative [&_pre:has(code)]:font-victor-mono;
}

.mermaid:not([data-processed="true"]) {
	@apply hidden;
}

.mermaid {
	@apply flex justify-center bg-zinc-800 border border-zinc-900 mb-4;
}

pre:has(code[class*="language-"]) {
	@apply relative;
}

code {
	@apply font-victor-mono;
}

.alert-warning {
	@apply mb-4 border-l-4 border-yellow-400 bg-yellow-50 p-4 dark:bg-slate-900 dark:text-slate-400;
}

.alert-info {
	@apply mb-4 border-l-4 border-blue-400 bg-blue-50 p-4 dark:bg-slate-900 dark:text-slate-400;
}

.alert-danger {
	@apply mb-4 border-l-4 border-red-400 bg-red-50 p-4 dark:bg-slate-900 dark:text-slate-400;
}

.alert-info .highlight,
.alert-danger .highlight,
.alert-warning .highlight {
	@apply border border-white mb-2;
}

.alert-info .highlight code,
.alert-warning .highlight code,
.alert-danger .highlight code {
	@apply block rounded-none border-none font-normal not-italic text-white bg-transparent;
}

.list-image-checked {
	@apply list-image-[url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxNCAxMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBmaWxsPSIjMzhiZGY4Ij48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMy42ODUuMTUzYS43NTIuNzUyIDAgMCAxIC4xNDMgMS4wNTJsLTggMTAuNWEuNzUuNzUgMCAwIDEtMS4xMjcuMDc1bC00LjUtNC41YS43NS43NSAwIDAgMSAxLjA2LTEuMDZsMy44OTQgMy44OTMgNy40OC05LjgxN2EuNzUuNzUgMCAwIDEgMS4wNS0uMTQzWiIgLz48L3N2Zz4=')];
}

.list-image-crossed {
	@apply list-image-[url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAxNCAxMiIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZT0iI2RjMjYyNiIgd2lkdGg9IjE0IiBoZWlnaHQ9IjEyIj4KICA8cGF0aCBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGQ9Ik0wIDEyTDE0IDBNMCAwbDE0IDEyIiAvPgo8L3N2Zz4=')];
}

@layer base {
	h1 {
		@apply text-3xl font-semibold;
	}

	h2 {
		@apply text-2xl font-semibold;
	}

	h3 {
		@apply text-xl font-semibold;
	}

	h4 {
		@apply text-lg font-semibold;
	}
}

@layer components {
	.btn-primary-sm {
		@apply bg-primary-800 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-primary-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-800 transition;
	}
	.btn-primary {
		@apply bg-primary-800 px-4 py-3 font-semibold text-white shadow-sm hover:bg-primary-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-800 transition;
	}
	.btn-primary-lg {
		@apply bg-primary-800 px-6 py-4 text-lg font-semibold text-white shadow-sm hover:bg-primary-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-800 transition;
	}
	.btn-primary-xl {
		@apply bg-primary-800 px-8 py-5 text-xl font-semibold text-white shadow-sm hover:bg-primary-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-800 transition;
	}
	.btn-sm {
		@apply px-3.5 py-2.5 text-sm font-semibold shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-800 transition;
	}
	.btn {
		@apply px-4 py-3 font-semibold shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-800 transition;
	}
	.btn-lg {
		@apply px-6 py-4 text-lg font-semibold shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-800 transition;
	}
	.btn-xl {
		@apply px-8 py-5 text-xl font-semibold shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-800 transition;
	}
}
