<!-- Pricing -->
<div class="py-20 md:py-32 shadow-sm">
    <div class="default-container px-6 lg:px-0">
        <div class="grid md:grid-cols-3 lg:grid-cols-4 gap-8 mb-12">
            <div class="border-r-primary-800 border-2 border-transparent md:col-span-3 lg:col-span-2 pr-4">
                <h2 class="uppercase text-primary-800 text-sm mb-2">Our Packages</h2>
                <p class="font-bold text-3xl md:text-4xl">
                    Choose from our packages to suit your business needs
                </p>
            </div>
        </div>
        <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-0 [&_*]:duration-500 items-center">
            <div class="md:self-stretch lg:self-center">
                <div class="bg-zinc-200/50 px-6 py-6 shadow h-full">
                    <p class="text-gray-500 mb-4">
                        <i class="fal fa-user mr-1"></i>
                        Personal</p>
                    <p class="text-gray-500 mb-6 text-sm">
                        <span class="text-5xl font-bold text-primary-800 mr-2">12,000</span>
                        THB
                    </p>
                    <p class="mb-4">
                        Single page website for personal use or portfolio, complete with custom design and domain.
                    </p>
                    <ul>
                        <li class="flex">
                            <i class="fal fa-check-circle text-green-600 mr-2 mt-1"></i>
                            <span>Custom web design with 2 revisions</span>
                        </li>
                        <li class="flex">
                            <i class="mt-1 fal fa-check-circle text-green-600 mr-2"></i>
                            <span>Free domain</span>
                        </li>
                        <li class="flex">
                            <i class="mt-1 fal fa-check-circle text-gray-600 mr-2"></i>
                            <span>Google Analytics & Search Console</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="bg-primary-900 px-6 py-6 shadow relative">
                <span class="absolute top-3 right-3 text-xs bg-red-600 px-2 text-white">Most Popular</span>
                <p class="text-gray-300 mb-4">
                    <i class="fal fa-building mr-1"></i>
                    Business
                </p>
                <p class="text-gray-200 mb-6 text-sm">
                    <span class="text-5xl font-bold text-yellow-500 mr-2">25,000</span>
                    THB
                </p>
                <p class="mb-4 text-gray-200">
                    5-page website for small businesses or startups, custom business email and Google services integration.
                </p>
                <ul>
                    <li class="flex text-gray-200">
                        <i class="fal fa-check-circle text-green-400 mr-2 mt-1"></i>
                        <span>Custom web design with 2 revisions</span>
                    </li>
                    <li class="flex text-gray-200">
                        <i class="mt-1 fal fa-check-circle text-green-400 mr-2"></i>
                        <span>Free domain</span>
                    </li>
                    <li class="flex text-gray-200">
                        <i class="mt-1 fal fa-check-circle text-green-400 mr-2"></i>
                        <span>Content update & maintainance</span>
                    </li>
                    <li class="flex text-gray-200">
                        <i class="mt-1 fal fa-check-circle text-gray-300 mr-2"></i>
                        <span>Custom business email</span>
                    </li>
                    <li class="flex text-gray-200">
                        <i class="mt-1 fal fa-check-circle text-gray-300 mr-2"></i>
                        <span>Google Analytics & Search Console</span>
                    </li>
                    <li class="flex text-gray-200">
                        <i class="mt-1 fal fa-check-circle text-gray-300 mr-2"></i>
                        <span>Google Business Profile</span>
                    </li>
                </ul>
            </div>
            <div class="md:col-span-2 lg:col-span-1">
                <div class="bg-zinc-200/50 px-6 py-6 shadow">
                    <p class="text-gray-500 mb-4">
                        <i class="fal fa-starship mr-1"></i>
                        Enterprise</p>
                    <p class="text-primary-800 mb-6 text-3xl font-bold">
                        Custom service for your business
                    </p>
                    <p class="mb-4">
                        Software development, e-commerce, or other complex projects that require custom solutions.
                    </p>
                    <ul>
                        <li class="flex">
                            <i class="fal fa-check-circle text-green-600 mr-2 mt-1"></i>
                            <span>E-Commerce website</span>
                        </li>
                        <li class="flex">
                            <i class="mt-1 fal fa-check-circle text-green-600 mr-2"></i>
                            <span>Custom software development</span>
                        </li>
                        <li class="flex">
                            <i class="mt-1 fal fa-check-circle text-green-600 mr-2"></i>
                            <span>Software engineer solution</span>
                        </li>
                        <li class="flex">
                            <i class="mt-1 fal fa-check-circle text-green-600 mr-2"></i>
                            <span>Brand consultation</span>
                        </li>
                        <li class="flex">
                            <i class="mt-1 fal fa-check-circle text-green-600 mr-2"></i>
                            <span>Digital marketing & graphics design</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>