---
layout: layouts/base.njk
title: Diff editor
hide_navbar: true
---

<div id="container" class="h-screen"></div>
<script src="/js/pe-monaco-editor.js"></script>
<script>
    var diffEditor = pe
        .monaco
        .editor
        .createDiffEditor(document.getElementById('container'), {originalEditable: true});
    var originalTxt = "";
    var modifiedTxt = "";
    diffEditor.setModel(
        {original: pe
            .monaco
            .editor
            .createModel(originalTxt), modified: pe
            .monaco
            .editor
            .createModel(modifiedTxt)}
    );
</script>