---
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
---

<div class="border-b font-victor-mono px-6">
  <div class="max-w-4xl mx-auto py-16">
    <h1 class="text-primary-700 mb-6">Welcome to PythonExpert!</h1>
    <p>
      Learn how to program for free.
    </p>
  </div>
  <div class="max-w-4xl mx-auto py-16">
    {% for course in collections.course %}
      <div class="relative group mb-12">
        <h2 class="mb-4 font-victor-mono">{{ course.data.title }}</h2>
        <p class="text-gray-600 mb-4 group-hover:underline font-victor-mono">{{ course.data.description }}</p>
        <a href="{{ course.url }}" class="text-sm text-blue-600 hover:underline stretched-link">Start learning</a>
      </div>
    {% endfor %}
  </div>
</div>