---
permalink: /tags/
layout: layouts/base.njk
---

<div class="shadow">
    <div class="max-w-4xl mx-auto py-24 px-8">
        <h1 class="mb-12">Tags</h1>
        <ul>
            {% for tag in collections.all | getAllTags | filterTagList %}
                {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
                <li>
                    <a href="{{ tagUrl }}" class="post-tag hover:underline text-blue-600">{{ tag }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>