---
layout: layouts/base.njk
eleventyComputed:
    facebook_image: "{% getImage eleventy.env.root + '/src' + image, '900px' %}"
---

<div class="bg-amber-50/30 shadow px-6 py-10 lg:py-16">
    <div class="">
        <div class="max-w-prose mx-auto ">
            <a href="/" class="hover:underline no-underline text-gray-500 text-sm">HOME</a>
            /
            <a href="/portfolio/" class="no-underline hover:underline text-primary-800 text-sm">PORTFOLIO</a>
            <h1>{{ name }}</h1>
        </div>
        <div class="max-w-5xl mx-auto prose">
            <div class="[&_img]:mx-auto">
                {% image eleventy.env.root + "/src" + image, imageAlt, "600px, 1200px", "(max-width: 600px) 600px, 1200px", false %}
            </div>
            <div class="mt-4 max-w-prose mx-auto mb-4">
                {% if liveUrl %}
                    <a
                        href="https://{{ liveUrl }}"
                        class="font-light text-primary-400 hover:text-primary-500 hover:underline text-sm no-underline"
                        target="_blank">
                        {{ liveUrl }}
                    </a>
                {% elif portfolioUrl %}
                    <a href="{{ portfolioBaseUrl + portfolioUrl + "/index.html" }}" class="font-light text-gray-400 hover:text-gray-500 hover:underline text-sm no-underline" target="_blank">
                        Backup
                    </a>
                {% endif %}
            </div>
            <div class="prose mx-auto prose-headings:text-primary-800 prose-strong:text-primary-800 [&_img]:shadow">
                {{ content | safe }}
            </div>
        </div>
    </div>
    <div class="grid md:grid-cols-2 gap-6">
        {% for image in images %}
            {% image eleventy.env.root + '/src' + image.src, image.alt, "1000px" %}
        {% endfor %}
    </div>
</div>