---
layout: layouts/base.njk
eleventyComputed:
    facebook_image: "{% getImage eleventy.env.root + '/src' + image, '900px' %}"
---

<div class="border-b border-term-border px-6">
    <div class="max-w-4xl mx-auto prose prose-invert py-24">
        {{ content | safe }}
    </div>
</div>